* {
  font-family: Helvetica;
  text-align: center;
}

h1{
  font-size: 70px;
  font-weight: bold;
  color: white;
  background-color: dimgray;
}

h2 {
  font-size: 32px;
  font-weight: bold;
}

h3 {
  font-size: 23px;
  font-weight: bold;
}

a {
  font-size: 18px;
  color: white;
  text-decoration: underline;
}

#home {
  background-color: dimgray;
}

#NY {
  color: white;
  background-color: dimgray;
}

#cpy {
  font-size: 11px;
  color: white;
}

#copyright {
  background-color: dimgray;
  text-align: left;
}
